:root {
  --main-color: #e2d2ec;
  --sub-color: #dddddd;
  --font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-noto-sans);
}

html {
  font-size: var(--font-size);
}

a {
  color: black;
  text-decoration: none;
  outline: none;
}

a:hover {
  cursor: pointer;
}
